#header{
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    
}